{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menubalk</title>
    <link rel="stylesheet" href="menu.css">
</head>

<body>
    <nav class="nav-container">
        <p><img src="{% static "base/img/fatyoshi.png" %}" alt="Fat yoshi"></p>

        {% if user.is_authenticated %}
            {% if not user.is_staff %}
                <a href="{% url 'profile' %}">Profile</a>
                <a href="{% url 'newsfeed' %}">Newsfeed</a>
                <a href="{% url 'new_book'%}">Add book</a>  
                <a href="{% url 'RecentSessions' %}">Recent sessions</a>
                <a href="{% url 'reading_session' %}">Add session</a>
            {% else %}
                <a href="{% url 'new_book'%}">Add book</a>
                <a href="{% url 'unapproved_books' %}">Approve books</a>
                <a href="{% url 'newsfeed' %}">All sessions</a>
            {% endif %}
            <form action="{% url 'logout' %}" method="post" class="nav-item">
                {% csrf_token %}
                <button type="submit" class="nav-btn-link">
                    Logout {{ user.username}}
                </button>
            </form>
         {% else %}
            <a href="{% url 'newsfeed' %}" class="nav-item">Newsfeed</a>
            <a href="{% url 'login' %}" class="nav-item">Login</a>
            <a href="{% url 'register' %}" class="nav-item">Register</a>
        {% endif %}
    </nav>

    {% block content %}
    {% endblock %}
</body>

</html>