{% extends 'base/base.html' %}

{% block content %}
    <h1>All reading sessions</h1>
    {% for session in sessions %}
    <div>
        <strong>Book: </strong> <a href="{% url 'book_details' session.Book.pk %}"> {{ session.Book.Name }} </a><br>
        <strong>Score: </strong> {{ session.Score }}<br>
        <strong>User: </strong> <a href="{% url 'user_sessions' session.User.pk %}"> {{ session.User.username }}</a><br>
        <strong>Date: </strong> {{ session.Date }}<br>
        {% if user.is_staff %}
        <form action="{% url 'delete_session' session.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" name="Delete">Delete</button>
        </form>
        {% endif %}
    </div>
    <hr>
{% empty %}
<p>No reading sessions at this moment.</p>
{% endfor %}
{% endblock %}

