{% extends 'base/base.html' %}

{% block content %}
    <h1>Unapproved books</h1>
    {% for book in books %}
        <strong>Name: </strong> {{ book.name }}<br>

        <strong>Publication year: </strong> {{ book.publication_year }}<br>

        <strong>Genre: </strong> {{ book.genre }}<br>

        <a href="{% url 'approve_book' book.pk %}">Approve</a><br>
        <a href="{% url 'deny_book' book.pk %}">Deny</a><br><br>

    {% empty %}
    <p>No unapproved books found.</p>
    {% endfor %}
{% endblock content %} 